<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bonjour</p>
    <p>Date d'aujourd'hui : {{ "now"|date("d/m/Y") }}</p>
    <span>{{nom|capitalize}} {{prenom|capitalize}}<span><br>
    <img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt="">
</body>
</html>