{% extends 'template.html.twig' %}

{% block title %}
    first
{% endblock %}

{% block body %}
     <p>Bonjour  {{name}} {{firstName}}</p>
     <span>Mon url absolue est : {{url("first")}} </span>
{% endblock %}
